/* header */
.header {
position: absolute;
width: 1600px;
height: 80px;
left: 0px;
top: 0px;
background: #FFFFFF;
}
.logo {
position: absolute;
width: 145px;
height: 31px;
left: 215px;
top: 24px;

font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;

letter-spacing: 0.03em;

color: black;
text-decoration: none;
}
.accent {
    color: #2196F3;
}
.studio {
    position: absolute;
    width: 49px;
    height: 16px;
    left: 453px;
    top: 32px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    
    color: #2196F3;
    text-decoration: none;
}
.studio:hover, :focus {
    color: crimson;
}
.portfolio { 
    position: absolute;
    width: 77px;
    height: 16px;
    left: 552px;
    top: 32px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    
    color: #212121;
    text-decoration: none;
}
.portfolio:hover, :focus {
    color: crimson;
}
.contact {
    position: absolute;
width: 68px;
height: 16px;
left: 679px;
top: 32px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: #212121;
text-decoration: none;

}
.contact:hover, :focus {
    color: crimson;
}
.email {
    position: absolute;
width: 135px;
height: 16px;
left: 1078px;
top: 32px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: #2196F3;
text-decoration: none;

}
.email:hover, :focus {
    color: crimson;
}

.telephon {
    position: absolute;
width: 122px;
height: 16px;
left: 1263px;
top: 32px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: #757575;
text-decoration: none;
}
.telephon:hover, :focus {
    color: crimson;
}
/* main */
.bg {
    position: absolute;
width: 1600px;
height: 600px;
left: 0px;
top: 80px;

background: #2F303A;
}
.title {
  
    position: absolute;
width: 696px;
height: 120px;
left: 452px;
top: 280px;

font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 60px;

text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;

color: #FFFFFF;

}
.button {
    position: absolute;
width: 200px;
height: 50px;
left: 700px;
top: 430px;
cursor:pointer;
background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
}
.button:hover,
.button:focus {
    background-color: #188ce8;
    color:     #FFFFFF; 
  
}

/* Наши преимущества */

.title1 {
    position: absolute;
width: 270px;
height: 16px;
left: 215px;
top: 774px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #212121;
}
.text1 {
    position: absolute;
width: 270px;
height: 75px;
left: 215px;
top: 800px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */

letter-spacing: 0.03em;

color: #757575;

}
.title2 {
    position: absolute;
    width: 270px;
    height: 16px;
    left: 515px;
    top: 774px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: #212121;
   }
.text2 {
    position: absolute;
    width: 270px;
    height: 75px;
    left: 515px;
    top: 800px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    
    letter-spacing: 0.03em;
    
    color: #757575;
    }
.title3 {
        position: absolute;
        width: 270px;
        height: 16px;
        left: 815px;
        top: 774px;
        
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        
        color: #212121;
              
    }
.text3 {
    position: absolute;
    width: 270px;
    height: 75px;
    left: 815px;
    top: 800px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    
    letter-spacing: 0.03em;
    
    color: #757575;
    
 }
.title4 {
    position: absolute;
    width: 270px;
    height: 16px;
    left: 1115px;
    top: 774px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: #212121;
    
 }
.text4 {
    position: absolute;
    width: 270px;
    height: 75px;
    left: 1115px;
    top: 800px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    
    letter-spacing: 0.03em;
    
    color: #757575;
 }
 .about-our-job-block {
     position: absolute;
width: 376px;
height: 42px;
left: 612px;
top: 969px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;

color: #212121;

 }
  .box1 {
   position: absolute;
width: 370px;
height: 294px;
left: 215px;
top: 1061px;

background: url(close-up-image-programer-working-his-desk-office_1098-18707.jpg);
mix-blend-mode: normal;
 }
 .box2 {
position: absolute;
width: 370px;
height: 294px;
left: 615px;
top: 1061px;

background: url(web-ui-designers-are-developing-application-smartphones-team-creators-is-working-interface-mobile-phones_8119-2713.jpg);
 }
.box3 {
    position: absolute;
width: 370px;
height: 294px;
left: 1015px;
top: 1061px;

background: url(creative-artist-web-design-with-working-colour-selection-graphic-tablet_35674-1119.jpg);
}
.section_bag {
   
    position: absolute;
width: 1600px;
height: 648px;
left: 0px;
top: 1449px;

background: #F5F4FA;
}
.our-team {
    position: absolute;
width: 264px;
height: 42px;
left: 668px;
top: 1543px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;

color: #212121;

}
.bag1 {
    position: absolute;
width: 270px;
height: 368px;
left: 215px;
top: 1635px;

background: #FFFFFF;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;

}
.photo1 {
    position: absolute;
width: 270px;
height: 260px;
left: 215px;
top: 1635px;

background: url(4853.jpg);
border-radius: 0px;
}
.name1 {
    position: absolute;
width: 151px;
height: 19px;
left: 275px;
top: 1925px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 18.75px;

text-align: center;
letter-spacing: 0.03em;

color: #212121;
}
.text_box1 {
    position: absolute;
width: 130px;
height: 19px;
left: 285px;
top: 1954px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 18.75px;

text-align: center;
letter-spacing: 0.03em;

color: #757575;
}
.bag2 {
    position: absolute;
width: 270px;
height: 368px;
left: 515px;
top: 1635px;

background: #FFFFFF;
/* material shadow v1 */

box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;

}
.photo2 {
    position: absolute;
width: 270px;
height: 260px;
left: 515px;
top: 1635px;

background: url(5844.jpg);
border-radius: 0px;
}
.name2 {
    position: absolute;
    width: 109px;
    height: 19px;
    left: 596px;
    top: 1925px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: 0.03em;
    
    color: #212121;
    
}

.text_box2 {
    position: absolute;
width: 147px;
height: 19px;
left: 577px;
top: 1954px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
/* identical to box height */

text-align: center;
letter-spacing: 0.03em;

color: #757575;
}

.bag3 {
    position: absolute;
width: 270px;
height: 368px;
left: 815px;
top: 1635px;

background: #FFFFFF;
/* material shadow v1 */

box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;

}

.photo3 {
    position: absolute;
width: 270px;
height: 260px;
left: 815px;
top: 1635px;

background: url(16166.jpg);
border-radius: 0px;
}
.name3 {
    position: absolute;
    width: 137px;
    height: 19px;
    left: 882px;
    top: 1925px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: 0.03em;
    
    color: #212121;
    
}
.text_box3 {
    position: absolute;
    width: 76px;
    height: 19px;
    left: 912px;
    top: 1954px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: 0.03em;
    
    color: #757575;
    
}
.bag4 {
        position: absolute;
width: 270px;
height: 368px;
left: 1115px;
top: 1635px;

background: #FFFFFF;
/* material shadow v1 */

box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;

}
.photo4 {
    position: absolute;
width: 270px;
height: 260px;
left: 1115px;
top: 1635px;

background: url(2968.jpg);
border-radius: 0px;
}
.name4 {
    position: absolute;
width: 134px;
height: 19px;
left: 1183px;
top: 1925px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */

text-align: center;
letter-spacing: 0.03em;

color: #212121;

}
.text_box4 {
    position: absolute;
width: 87px;
height: 19px;
left: 1207px;
top: 1954px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
/* identical to box height */

text-align: center;
letter-spacing: 0.03em;

color: #757575;
}

.footer_bag {
    position: absolute;
width: 1600px;
height: 252px;
left: 0px;
top: 2097px;

background: #2F303A;
}

.logo2 {
    position: absolute;
width: 145px;
height: 31px;
left: 215px;
top: 2157px;

font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
/* identical to box height */

letter-spacing: 0.03em;

color: #2196F3;

}
.accent2 {
    color: #FFFFFF;

}
.physical-adress {
    position: absolute;
    width: 231px;
    height: 21px;
    left: 215px;
    top: 2208px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    
    letter-spacing: 0.03em;
    
    color: #FFFFFF;
  }

.mail-to {
    position: absolute;
width: 231px;
height: 21px;
left: 215px;
top: 2238px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;

letter-spacing: 0.03em;

color: rgba(255, 255, 255, 0.6);

}
.mail-to:hover, :focus {
    color: tomato;
}
.tel {
    position: absolute;
width: 231px;
height: 21px;
left: 215px;
top: 2268px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;

letter-spacing: 0.03em;

color: rgba(255, 255, 255, 0.6);
}
.tel:hover, :focus {
    color: tomato;
}
