.header {
    position: absolute;
width: 1600px;
height: 80px;
left: 0px;
top: 0px;
background: #FFFFFF;
    }
    .logo {
    position: absolute;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    
    letter-spacing: 0.03em;
    
    color: black;
    text-decoration: none;
    }
    .accent {
        color: #2196F3;
    }
    .studio {
        position: absolute;
        width: 49px;
        height: 16px;
        left: 453px;
        top: 32px;
        
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        
        color: #212121;
        text-decoration: none;
    }
    .studio:hover, :focus {
        color: crimson;
    }
    .portfolio { 
        position: absolute;
        width: 77px;
        height: 16px;
        left: 552px;
        top: 32px;
        
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        
        color: #2196F3;

        text-decoration: none;
    }
    .portfolio:hover, :focus {
        color: crimson;
    }
    .contact {
        position: absolute;
    width: 68px;
    height: 16px;
    left: 679px;
    top: 32px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    
    color: #212121;
    text-decoration: none;
    
    }
    .contact:hover, :focus {
        color: crimson;
    }
    .email {
        position: absolute;
    width: 135px;
    height: 16px;
    left: 1078px;
    top: 32px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    
    color: #2196F3;
    text-decoration: none;
    
    }
    .email:hover, :focus {
        color: crimson;
    }
    
    .telephon {
        position: absolute;
    width: 122px;
    height: 16px;
    left: 1263px;
    top: 32px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    
    color: #757575;
    text-decoration: none;
    }
    .telephon:hover, :focus {
           color: crimson;
        }


        





        